/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.ec-content {
    padding-top: $ec-header-height-small + 25px;
    min-height: 100%;
}

.ec-content-padded {
    margin: 0 auto;
    padding-left: $ec-content-padding-small;
    padding-right: $ec-content-padding-small;
}

.ec-title-page {
    margin: 0 auto 1em auto;
    // padding-left: $ec-content-padding-small / 1.75;
    text-align: center;
}

.ec-youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 2em;
    height: 0;
    overflow:hidden;
    max-width: 100%;
}

.ec-youtube-limiter {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.ec-youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #999;
}

.ec-activity-svg {
    display: block;
    padding: 1em 0 2em 0;
}

@media all and (min-width: $ec-break-small-text-max) {
    .ec-content-padded {
        max-width: $ec-break-small-text-max;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: $ec-break-medium) {
    
    .ec-youtube-limiter {
        max-width: $ec-break-medium;
        margin: 0 auto;
    }
    
    .ec-activity-svg {
        max-width: $ec-break-medium;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}

@media all and (min-width: $ec-break-switch-nav) {
    
    .ec-content {
        padding-top: 1em;
    }
    
}