/*------------------------------------*\
    #HELP
\*------------------------------------*/

.ec-help-container {
    margin-top: 1em;
    text-align: center;
}

.ec-help-image {
    width: 100%;
    max-width: 100px;
}

.ec-help-image-container {
    width: 100px;
    margin: 0 auto;
}
