/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
.ec-container {
    position: relative;
    background: #fff;
}

.ec-header {
    position: absolute;
    top: 0;
    width: 100%;
}

// discount non media query browsers
@media all and (min-width: 0) {
    
    .cutsthemustard .ec-container {
        transition: all .25s;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
    }
    
    // Move the body the correct way for each navigation
    .cutsthemustard .active-nav .ec-container {
        transform: translateX(-90%);
    }
    
    .cutsthemustard .active-settings .ec-container {
        transform: translateX(90%);
    }
    // Set the z-index of the navigation menus so the correct one is visible
    .cutsthemustard .active-nav .ec-nav-navigation {
        z-index: 1;
    }
    // hide the menu that isn't active - maybe this should be opacity
    // to prevent page jumps?
    .cutsthemustard .active-nav .ec-nav-settings {
        display: none;
    }
    
    .cutsthemustard .active-settings .ec-nav-navigation {
        display: none;
    }
    
    .cutsthemustard .active-settings .ec-nav-settings {
        z-index: 1;
    }
    
    .cutsthemustard .active-nav {
        background: #047;
    }
    
    .cutsthemustard .active-settings {
        background: #5ad;
    }
    
}


@media all and (min-width: $ec-break-switch-nav) {
    
}