/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
.ec-container {
    position: relative;
}

.ec-header {
    position: absolute;
    top: 0;
    width: 100%;
}