/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

[role="navigation"] {
    display: block;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: white;
}

.ec-nav-settings {
    position: relative;
    background: #5ad;
}

.ec-nav-navigation {
    position: relative;
    background: #047;
}

.ec-nav-dismiss {
    display: block;
    padding: 0.5em 0 0.75em 0.5em;
    font-size: 2em;
    width: 100%;
    background: #eee;
    color: #5ad;
}

.ec-nav-dismiss:hover,
.ec-nav-dismiss:focus {
    background: #eee;
    color: #5ad;
}

.ec-nav-dismiss::before {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    padding-right: 1.5em;
    background: url('../images/icons/circle-with-cross.svg') no-repeat;
}

.ec-nav__links {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.ec-nav-navigation__item {
    width: 100%;
}

.primary-nav__link {
    position: relative;
    color: white;
    display: block;
    width: 100%;
    padding: 1.5em 0 0.8em 0;
    text-decoration: none;
}

.primary-nav__link:hover,
.primary-nav__link:focus {
    color: white;
    text-decoration: none;
}

.ec-nav-navigation__link {
    padding: 1em 0 1em 0;
}

.primary-nav__link:focus {
    text-decoration: underline;
}

.ec-nav-settings__link:hover {
    background: #047;
}

.ec-nav-navigation__link:hover {
    background: #5ad;
}

.ec-nav-settings__home::before,
.ec-nav-settings__help::before,
.ec-nav-settings__profile::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0.3em;
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    // padding-right: 1em;
}

.ec-nav-settings__home::before {
    background: url('../images/icons/home.svg') no-repeat;
}

.ec-nav-settings__help::before {
    background: url('../images/icons/help-with-circle.svg') no-repeat;
}

.ec-nav-settings__profile::before {
    background: url('../images/icons/user.svg') no-repeat;
}

.ec-nav-navigation__links {
    margin-top: $ec-header-height-small;
    z-index:2;
}

.ec-nav-navigation__next,
.ec-nav-navigation__previous{
    position: absolute;
    top: -$ec-header-height-small;
    width: 50%;
    height: $ec-header-height-small;
    border-bottom: 1px solid #fff;
}

.ec-nav-navigation__complete {
    height: $ec-header-height-small;
    border-bottom: 1px solid #fff;
}

.ec-nav-navigation__complete:hover,
.ec-nav-navigation__complete:focus {
    background: green;
    border-bottom: 1px solid #fff;
}

.ec-nav-navigation__next::before,
.ec-nav-navigation__previous::before,
.ec-nav-navigation__complete::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: ($ec-header-height-small - $ec-nav-icons-small) / 2;
    width: $ec-nav-icons-small;
    height: $ec-nav-icons-small;
    margin-left: -$ec-nav-icons-small/2;
}

.ec-nav-navigation__next::before {
    background: url('../images/icons/chevron-thin-right.svg') no-repeat;
}

.ec-nav-navigation__previous::before {
    background: url('../images/icons/chevron-thin-left.svg') no-repeat;
}

.ec-nav-navigation__complete::before {
    background: url('../images/icons/check.svg') no-repeat;
}

.ec-nav-navigation__next {
    left: 50%;
}

.ec-nav-navigation__previous {
    border-right: 1px solid #fff;
}

.ec-nav-navigation__progress{
    text-align: left;
    padding: 0.5em 0 0.5em 0;
    font-size: 0.7em;
}

.ec-nav-navigation__progress::before {
    content: "";
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin: 0 1em;
    border-radius: 50%;
    border: 2px solid #fff;
}

.ec-nav-navigation__progress-complete::before {
    background: #fff;
}

.ec-nav-navigation__progress-started::before {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(51%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.ec-nav-previous-title, .ec-nav-next-title {
    position: absolute;
    top: -1px;
    right: -20em;
    display: none;
    width: 20em;
    padding: 1em;
    height: $ec-header-height-small + 1px;
    background: #fff;
    border: 1px solid #eee;
    transition: right .25s;
    // display: none;
}

.ec-nav-previous-title {
    top: $ec-header-height-small - 1px;
}

// discount non media query browsers
@media all and (min-width: 0) {
    
    .cutsthemustard .ec-nav-navigation {
        width: 90%;
        min-height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        // background: #333;
    }
    
}

@media all and (min-width: $ec-break-switch-nav) {
    
    .ec-show-next-title .ec-nav-next-title {
        display: block;
        right: $ec-button-width-medium - 1px;
    }

    .ec-show-previous-title .ec-nav-previous-title {
        display: block;
        right: $ec-button-width-medium - 1px;
    }
    
    // bring nav buttons to top so can see without reveal
    .cutsthemustard .ec-nav-navigation {
        // width: $ec-button-width-medium;
        // position: fixed;
        min-height: 0;
        z-index: 3;
        top: $ec-header-height-small;
        right: 0;
        background: none;
    }
    
    .cutsthemustard .ec-nav-progress__links {
        // display: none;
        background: #047;
        position: absolute;
        top: $ec-header-height-small/1.5;
        right: -20em;
        // right: $ec-button-width-medium;
        width: 20em;
        transition: right .25s;
        // z-index: 5;
    }
    
    .cutsthemustard .ec-nav-dismiss {
        position: absolute;
        top: 0;
        right: -20em;
        width: 20em;
        height: $ec-header-height-small/1.5;
        border-right: #fff;
        transition: right .25s;
    }
    
    .cutsthemustard .active-nav .ec-nav-navigation {
        z-index: 3;
    }
    
    .cutsthemustard .active-nav .ec-nav-progress__links {
        right: $ec-button-width-medium;
    }
    
    .cutsthemustard .active-nav .ec-nav-dismiss {
        right: $ec-button-width-medium;
    }
    
    
    
    // reset nav butttons to fixed top
    .cutsthemustard .ec-nav-navigation__next,
    .cutsthemustard .ec-nav-navigation__previous,
    .cutsthemustard .ec-nav-navigation__complete {
        position: fixed;
        // top: 0;
        left: auto;
        right: 0;
        width: $ec-button-width-medium;
        height: $ec-header-height-small;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        background: #fff;
    }
    
    // set fixed position of nav buttons
    .cutsthemustard .ec-nav-navigation__next {
        top: $ec-header-height-small;
    }
    
    .cutsthemustard .ec-nav-navigation__previous {
        top: $ec-header-height-small*2;
    }
    
    .cutsthemustard .ec-nav-navigation__complete {
        top: $ec-header-height-small*3;
    }
    
    // dark icons for nav buttons
    .cutsthemustard .ec-nav-navigation__previous::before {
        background: url('../images/icons/chevron-thin-left-dark.svg') no-repeat;
    }
    
    .cutsthemustard .ec-nav-navigation__next::before {
        background: url('../images/icons/chevron-thin-right-dark.svg') no-repeat;
    }
    
    .cutsthemustard .ec-nav-navigation__complete::before {
        background: url('../images/icons/check-dark.svg') no-repeat;
    }
    
    
    // Hover button effects
    .cutsthemustard .ec-nav-navigation__previous:hover,
    .cutsthemustard .ec-nav-navigation__previous:focus,
    .cutsthemustard .ec-nav-navigation__next:hover,
    .cutsthemustard .ec-nav-navigation__next:focus {
        background: #eee;
    }
    
    .cutsthemustard .ec-nav-navigation__complete:hover,
    .cutsthemustard .ec-nav-navigation__complete:focus {
        background: #9d9;
    }
    
    .cutsthemustard .ec-nav-settings {
        width: 20em;
    }
    
}
